<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plane Interceptor</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />

    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
    <div id="main-container">
        <div id="map-template">
            <div id="mapid"></div>
            <script src="https://unpkg.com/leaflet@1.6/dist/leaflet.js"></script>
        </div>
        <div id="planes-template">
            <p id="planesText">PLANES</p>
            
        </div>
    </div>
</body>
</html>
<script src="js/leaflet-controller.js"></script>